{
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "rules": {
    "max-len": [
      "error",
      120,
      2
    ],
    "no-param-reassign": 0,
    "prefer-rest-params": 0,
    "brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false
      }
    ],
    "spaced-comment": [
      2,
      "always",
      {
        "exceptions": [
          "/"
        ]
      }
    ],
    "no-nested-ternary": 0,
    "no-cond-assign": [
      2,
      "except-parens"
    ],
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "no-unused-expressions": 0,
    "no-console": 0
  }
}
