{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "rules": {
    "linebreak-style": 0,
    "max-len": [
      "error",
      120,
      2
    ],
    "no-param-reassign": 0,
    "prefer-rest-params": 0,
    "class-methods-use-this": 0,
    "prefer-spread": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-mixed-operators": 0,
    "no-continue": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowMultiplePropertiesPerLine": true
      }
    ],
    "brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false
      }
    ],
    "spaced-comment": [
      2,
      "always",
      {
        "exceptions": [
          "/"
        ]
      }
    ],
    "no-nested-ternary": 0,
    "no-cond-assign": [
      2,
      "except-parens"
    ]
  }
}
